<!DOCTYPE html>
<html lang="fa">
<head>
    <title>chat</title>

    <script src="/lib/sockjs/sockjs.min.js"></script>
    <script src="/lib/stomp/lib/stomp.min.js"></script>
    <script>
        function getParameterByName(name, url = window.location.href) {
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
    </script>
    <script>
        window.onload = function() {
            var socket = new SockJS(location.protocol + "//" + location.host
                + "/connect");
            stompClient = Stomp.over(socket);
            stompClient.debug = null;
            stompClient.connect({}, function(frame) {
                stompClient.subscribe('/private/reply', function(notification) {
                    responseHandler(notification.body);
                });
                stompClient.subscribe('/queue/public', function(notification) {
                    responseHandler(notification.body);
                });
            });
        }

        function responseHandler(data) {
            console.log(data);
            var obj = JSON.parse(data);
            if (obj.status == 200) {
                if (obj.destination == "timer") {
                    document.getElementById("timer").innerHTML = obj.data.time;
                } else if(obj.destination == "chat"){
                    document.getElementById("chatbox").innerHTML = document.getElementById("chatbox").innerHTML + "<li>" + obj.data.from + ": " + obj.data.message + "</li>"
                }
            }
        }
    </script>
</head>
<body>
<h1>Hey <span id="name" th:text="${who}">Stranger</span></h1>
<div th:if="${who} == 'user'">
    <ul id="chatbox" style="border: solid 1px black; margin: 0 100px 15px;">
        <li th:each="chat : ${chats}" th:text="${chat}"></li>
    </ul>
    <label for="message"></label>
    <input id="message" placeholder="Type to send message...">
    <button onclick="userMessage()">send</button>
</div>
<div th:if="${who} == 'admin'">
    <ul id="chatbox" style="border: solid 1px black; margin: 0 100px 15px;">

    </ul>
    <label for="message"></label>
    <input id="message" placeholder="Type to send message...">
    <button onclick="adminMessage()">send</button>
    <ul id="users" style="border: solid 1px black; margin: 0 100px 15px;">

    </ul>
</div>
<script>
    function userMessage(){
        var obj = new Object();
        obj.jwt = getParameterByName("jwt");
        obj.message = document.getElementById("message").value;
        stompClient.send("/user/chat", {}, JSON.stringify(obj));
        document.getElementById("chatbox").innerHTML = document.getElementById("chatbox").innerHTML + "<li>you: " + obj.message + "</li>"
    }
    function adminMessage(){
        var obj = new Object();
        obj.jwt = getParameterByName("jwt");
        obj.message = document.getElementById("message").value;
        stompClient.send("/user/chat", {}, JSON.stringify(obj));
        document.getElementById("chatbox").innerHTML = document.getElementById("chatbox").innerHTML + "<li>you: " + obj.message + "</li>"
    }
</script>
</body>
</html>